.container{
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 12.5rem;
    background: white;
    padding-bottom: 2rem;
}

.topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
    width: 100%;
    margin-top: 1rem;
}

.text{
    color: #3c009d;
    font-size: 3rem;
    font-weight: 700;
}

.decoration{
    width: 3.8rem;
    border-radius: 0.625rem;
    height: 0.5rem;
    background: #3c009d;
}
.entries{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.entry{
    display: flex;
    align-items: center;
    margin: auto;
    width: 25rem;
    height: 4rem;
    background: #eaeaea;
    border-radius: .5rem;
}
.entry img{
    margin: 0 2rem;
}

.entry input{
    height: 3.2rem;
    width: 18rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #797979;
}

.forgot-password{
    padding-left: 6.5rem;
    margin-top: 1.5rem;
    color: #797979;
    font-size: 1.2rem;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{

    display: flex;
    gap: 1.6rem;
    margin: 3rem auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3.75rem;
    color: white;
    background: #4c00b4;
    border-radius: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;

}

.gray{
    background: #eaeaea;
    color: #676767;
}